# Логистическая регрессия

In [4]:
import pandas
import math
from sklearn.metrics import roc_auc_score

Загрузите данные из файла data-logistic.csv. Это двумерная выборка, целевая переменная на которой принимает значения -1 или 1.

In [5]:
data = pandas.read_csv('data-logistic.csv', header=None)

In [6]:
data.head()

   0         1         2
0 -1 -0.663827 -0.138526
1  1  1.994596  2.468025
2 -1 -1.247395  0.749425
3  1  2.309374  1.899836
4  1  0.849143  2.407750

In [8]:
y = data[0]
y

0     -1
1      1
2     -1
3      1
4      1
      ..
200    1
201    1
202   -1
203    1
204   -1
Name: 0, Length: 205, dtype: int64

In [10]:
X = data.drop([0], axis=1)
X

            1          2
0   -0.663827  -0.138526
1    1.994596   2.468025
2   -1.247395   0.749425
3    2.309374   1.899836
4    0.849143   2.407750
..        ...        ...
200  4.245176   3.053931
201  2.437935   1.357804
202 -1.876638   1.533398
203 -6.824446 -13.934211
204  0.001805   0.865147

[205 rows x 2 columns]

Убедитесь, что выше выписаны правильные формулы для градиентного спуска. Обратите внимание, что мы используем полноценный градиентный спуск, а не его стохастический вариант!

In [11]:
#функция подсчета значения w1
def form_w1(w1, w2, y, X, k, C):
    l = len(y)
    Sum = 0
    for i in range(l):
        Sum += y[i] * X[1][i] * (1.0 - 1.0 / (1.0 + math.exp(-y[i] * (w1*X[1][i] + w2*X[2][i])) ))
        
    return w1 + (k * (1.0 / l) * S) - k * C * w1

In [12]:
#функция подсчета значения w2
def form_w1(w1, w2, y, X, k, C):
    l = len(y)
    Sum = 0
    for i in range(l):
        Sum += y[i] * X[2][i] * (1.0 - 1.0 / (1.0 + math.exp(-y[i] * (w1*X[1][i] + w2*X[2][i])) ))
        
    return w2 + (k * (1.0 / l) * S) - k * C * w2

Реализуйте градиентный спуск для обычной и L2-регуляризованной (с коэффициентом регуляризации 10) логистической регрессии. Используйте длину шага k=0.1. В качестве начального приближения используйте вектор (0, 0).

In [15]:
def grad(y, X, C=0.0,  w1=0.0, w2=0.0, k=0.1, err=1e-5):
    i = 0
    i_max = 10000
    w1_new, w2_new = w1, w2
    
    while True:
        i += 1
        w1_new, w2_new = fw1(w1, w2, y, X, k, C), fw1(w1, w2, y, X, k, C)
        e = math.sqrt((w1_new - w1) ** 2 + (w2_new - w2) ** 2)
        
        if i >= i_max or e <= err:
            break
        else:
            w1, w2 = w1_new, w2_new
        
    return [w1_new, w2_new]