# Нормализация признаков

Загрузите обучающую и тестовую выборки из файлов perceptron-train.csv и perceptron-test.csv. Целевая переменная записана в первом столбце, признаки — во втором и третьем.

In [1]:
import pandas
train = pandas.read_csv('perceptron-train.csv')
test = pandas.read_csv('perceptron-test.csv')

In [6]:
train.columns = ['target', 'one', 'two']

In [8]:
test.columns = ['target', 'one', 'two']

In [9]:
train.head()

   target       one          two
0     1.0 -0.978058  1083.198803
1    -1.0  0.314272 -1472.977609
2    -1.0  0.179752   231.017267
3     1.0 -1.262544  -778.271726
4    -1.0  0.249970   -52.801483

In [10]:
test.head()

   target       one          two
0     1.0 -0.866495  1191.232457
1    -1.0  0.789828  -475.647768
2    -1.0  0.179549  1959.095353
3     1.0 -0.434351   568.504207
4     1.0 -1.506295   929.584470